<section class="col-lg-12 d-flex justify-content-center">
  <div class="col-lg-8 margina-50">
    <table class="table table-striped w-100">
      <thead>
      <tr>
        <th>Username</th>
        <th>Apartment Name</th>
        <th>Date From</th>
        <th>Date To</th>
        <th>Persons Number</th>
        <th>Price</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let reservation of reservations">
        <td>{{ reservation.username }}</td>
        <td>{{ reservation.apartmentName }}</td>
        <td>{{ reservation.dateFrom }}</td>
        <td>{{ reservation.dateTo }}</td>
        <td>{{ reservation.personsNumber }}</td>
        <td>{{ reservation.price }}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteReservation(reservation.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
